/* body {
    background-color: lightblue;
  }
  
  h1,h2,h5 {
    color: navy;
    margin-left: 20px;
  }
  #firstname,#username,#email,#password {
    background-color:salmon;
    
  
  }
  #submit{
    background-color: green;
  }
  #log,#pass{
    background-color:#9FE2BF;
  }
  #sign{
    background-color: slategray;
  
  }
   */